<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="layout/main">
<body>
<div layout:fragment="content">
    <div id="group-content">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col" style="width: 10%">Profile</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student : ${students}">
                <td th:text="${student.name}"></td>
                <td th:text="${student.surname}"></td>
                <td>
                    <a th:href="@{'/profile/' + ${student.id}}" type="button" class="btn btn-sm btn-primary">Profile</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>