<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="layout/main">
<body>
<div layout:fragment="content">
    <div id="group-content">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Teacher</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="subject : ${subjects}">
                <td th:text="${subject.name}"></td>
                <td>
                    <span th:each="course : ${courses}" th:if="${subject.id == course.subject.id}" th:text="${course.teacher.surname} + ' ' + ${course.teacher.name}">
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>